@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #7a8585;
    background-clip: padding-box;
    border: 2px solid #2c3333;
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    background-color: #2c3333;
}

body {
    font-family: "Spartan", sans-serif;
    font-size: 15px;
    background-color: #effafa;
}

header {
    height: 140px;
    background-image: url("../images/bg-header-desktop.svg");
    background-size: cover;
    background-color: #5ba4a4;
}

#container {
    max-width: 1200px;
    margin: 70px auto;
    @media (max-width: 768px) {
        width: 100%;
        margin: auto;
    }
    .item {
        border: none;
        background-color: #ffffff;
        border-radius: 5px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        cursor: pointer;
        &:hover {
            transform: translateY(-10px);
        }
        @media (max-width: 768px) {
            flex-direction: column;
            margin: 15px;
        }
        .left {
            display: flex;
            align-items: center;
            .text {
                margin-left: 20px;
                .top {
                    display: flex;
                    align-items: center;
                    h5 {
                        color: #5ba4a4;
                        margin-right: 15px;
                        font-size: 15px;
                    }
                    .new,
                    .featured {
                        font-size: 12px;
                        color: #f5f5f5;
                        border-radius: 22px;
                        font-weight: 700;
                        line-height: 6px;
                        padding: 8px;
                        border: none;
                        outline: 0;
                    }
                    .new {
                        background: #5b8080;
                        margin-right: 5px;
                    }
                    .featured {
                        background: #2c3333;
                    }
                }
                .middle {
                    h1 {
                        font-size: 15px;
                        font-weight: 900;
                        margin: 12px 0;
                        color: #2c3333;
                    }
                }
                .bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    @media (max-width: 768px) {
                        font-size: 12px;
                    }
                    .dot {
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: #7a8585;
                        margin: 0 10px;
                    }
                    div {
                        font-weight: bold;
                        color: #7a8585;
                    }
                }
            }
        }
        .right {
            @media (max-width: 768px) {
                margin-top: 20px;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    list-style: none;
                    padding: 6px;
                    background: #effafa;
                    margin-left: 15px;
                    font-weight: 900;
                    border-radius: 4px;
                    color: #5ba4a4;
                    font-size: 15px;
                    cursor: pointer;
                    @media (max-width: 768px) {
                        margin: 5px;
                    }
                    &:hover {
                        background: #5ba4a4;
                        color: #f5f5f5;
                    }
                }
            }
        }
    }
}

.feature {
    border-left: 5px solid #5ba4a4 !important;
}
